@model FinalProject.MVC.UI.Models.ApplicationUser

@{
    ViewBag.Title = "User Admin | Details";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>@ViewBag.Title</h2>
            <ol>
                <li>@Html.ActionLink("Back to List", "Index", null, new { @class = "btn-get-started btn-background" })</li>
            </ol>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

<section>
    <div class="container">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    <strong>User Name</strong>
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
            </dl>
        </div>
        <h5>Roles this user currently has</h5>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <hr />
            <p>No roles found for this user.</p>
        }

        <table class="table">

            @foreach (var item in ViewBag.RoleNames)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }
        </table>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn-get-started btn-background" })
        </p>
    </div>
</section>



